In [2]:
from statisco import StockDataFrame
import pandas as pd

In [3]:
df = pd.read_csv("./resources/MSFT_intraday_1min.csv")

In [4]:
msft = StockDataFrame(data=df)

In [5]:
msft

                      Date     Open    High      Low    Close  Volume
0      2024-06-18 19:59:00  446.581  446.59  446.420  446.590     321
1      2024-06-18 19:58:00  446.530  446.59  446.433  446.433     394
2      2024-06-18 19:57:00  446.545  446.56  446.500  446.530     949
3      2024-06-18 19:56:00  446.550  446.70  446.550  446.570     629
4      2024-06-18 19:55:00  446.502  446.65  446.500  446.620      67
...                    ...      ...     ...      ...      ...     ...
19934  2024-05-20 04:04:00  420.700  420.70  420.270  420.400     159
19935  2024-05-20 04:03:00  420.600  420.77  420.390  420.700     157
19936  2024-05-20 04:02:00  420.430  420.43  420.340  420.340       9
19937  2024-05-20 04:01:00  420.910  420.91  420.380  420.620     529
19938  2024-05-20 04:00:00  420.000  420.99  420.000  420.780     312

[19939 rows x 6 columns]